* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 25px;
    width: 100%;
  }
.gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 700px;
    margin: 10px 0 25px;
    width: 700px;
  }
  
  .cell {
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
   border-radius: 50%;
   border: 3px solid black;
   content: '';
   cursor: pointer;
   height: 75px;
   width: 75px;
  }
  
  .cell:hover{
      background-color: aliceblue;
  }
 