* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .title{
      font-family: 'Kaushan Script', cursive;
      font-size: 30px;
      color: white;
      text-shadow: 2px 2px #00AEAE;
  }

  body {
    align-items: center;
    background-image: url('imgs/acnhbeach.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 25px;
    width: 100%;
  }
.gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 500px;
    margin: 10px 10px 10px;
    width: 700px;
    background-color: RGB(248, 131, 121, 0.8);
    border: 6px solid #E2DFD2;
    border-radius: 2rem;
  }
  
  .cell {
    align-items: center;
    display: flex;
    justify-content: center; 
   border-radius: 50%;
   border: 3px solid #E2DFD2;
   content: '';
   cursor: pointer;
   height: 75px;
   width: 75px;
   margin: 3px auto;
  }
  
  
 
  h3 {
      padding-top: 15px;
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
      color:black;
      
      
  }
  
  #play-again{

    padding-top: 15px;
    font-size: 30px;
  }

  #replay{
      font-size: 30px;
      padding: 5px;
      text-align: center;
      font-family: 'Kaushan Script', cursive;
      transition-duration: 0.3s;
      border: 2px solid #00AEAE;
      border-radius:8px;
      background-color: #92C4EE;
      color: white;

  }

  #replay:hover{
    background-color: #A45F66;
   cursor: pointer;
  }

  .tommyPlay {
    background-image: url('imgs/tommy.jpg');
    align-items: auto;
    background-size: contain;
    border-radius: 50%;
  }
  
  .timmyPlay {
    background-image: url('imgs/timmy.jpeg');
    position: right 20px;
    background-size: contain;
    border-radius: 50%;
  }

 .logo {
   max-width: 190px;
   max-height: 140px;
 }